/*

	Main SCSS file that you use to import all the separate modules and then compile them to the css file
	----------------------------------------------------------------------------------------------------
	
	Om alle SCSS te compilen naar de main.css moet je in je Terminal deze code invoegen:
	
	1. 	Ga eerst naar de main folder "Lars-portfolio"
	
	2. 	Typ dan: sass --watch scss/main.scss:css/main.css
	
		Door deze command kijkt SASS naar veranderingen in de scss folder, 
		zodra je een aanpassing maakt aan een file die ge-Import is in de "main.scss" wordt het meteen gecompiled naar de main.css folder.

*/
/**************************************************

	In this file we place all the Variables ;)

**************************************************/
a, p,
h1, h2, h3,
h4, h5, h6 {
  color: #4a4a4c;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 1.1px; }

a {
  text-decoration: none !important; }

html {
  background-color: #0085B4; }

html, body {
  height: 100%; }

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: 0px;
  background-color: #0085B4; }

.page-wrap:after {
  content: "";
  display: block; }

.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 0px; }

.button {
  color: white;
  padding: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  display: inline-block;
  z-index: 10;
  opacity: 0.5;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease; }
  .button:hover {
    opacity: 1;
    color: white; }

.addProgress {
  color: white;
  padding: 10px;
  position: absolute;
  top: 10px;
  left: 380px;
  display: inline-block;
  z-index: 10;
  opacity: 0.5;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease; }
  .addProgress:hover {
    opacity: 1;
    color: white; }

.LoginScreenPage {
  position: absolute;
  background-color: #EEEEEE;
  background-image: url("../img/Wallpaper.jpg");
  background-size: cover;
  background-position: center center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0; }

.Login-box {
  background-color: white;
  height: auto;
  width: 350px;
  position: absolute;
  top: 50%;
  left: 50%;
  /* bring your own prefixes */
  transform: translate(-50%, -50%); }
  .Login-box .logo-wrap {
    margin: 35px auto;
    text-align: center; }
    .Login-box .logo-wrap img {
      display: inline-block;
      width: 100px; }
  .Login-box .input-fields {
    margin: 0px 40px; }
    .Login-box .input-fields input {
      border: 0 solid #000;
      background-color: #F5F5F5;
      color: #C9C9C9;
      padding: 10px;
      font-size: 16px;
      width: 100%;
      font-weight: 400;
      letter-spacing: 0.5px;
      font-family: "Open Sans", sans-serif;
      margin-bottom: 30px; }
  .Login-box .signIn-button a {
    display: block;
    text-align: center;
    font-size: 20px;
    font-weight: 200;
    color: white;
    padding: 10px;
    border-radius: 100px;
    margin: 0 40px;
    background-color: #00BEFE;
    text-transform: uppercase;
    letter-spacing: 1px; }
  .Login-box .forgotPassword {
    text-align: center; }
    .Login-box .forgotPassword a {
      display: inline-block;
      font-size: 15px;
      color: #C9C9C9;
      padding: 10px;
      margin: 10px 40px 15px; }

.Homepage .SidebarFix {
  padding-left: 350px; }
  .Homepage .SidebarFix .Content-wrap {
    padding: 30px 30px 0 30px;
    position: relative; }
  .Homepage .SidebarFix .Top-bar {
    display: block;
    height: 100px;
    padding: 40px;
    position: relative; }
    .Homepage .SidebarFix .Top-bar .Topbar-Logo {
      display: block;
      width: 280px;
      position: absolute;
      top: 40px;
      left: 40px; }
      .Homepage .SidebarFix .Top-bar .Topbar-Logo img {
        display: block;
        height: 25px;
        float: left; }
      .Homepage .SidebarFix .Top-bar .Topbar-Logo p {
        display: inline-block;
        text-transform: uppercase;
        color: white;
        font-size: 18px;
        letter-spacing: 1.1px;
        padding-left: 20px; }
    .Homepage .SidebarFix .Top-bar .Topbar-User {
      display: block;
      width: 100%;
      float: right;
      text-align: right;
      padding-left: 270px; }
      .Homepage .SidebarFix .Top-bar .Topbar-User .UserWrap {
        display: inline-block;
        cursor: pointer; }
      .Homepage .SidebarFix .Top-bar .Topbar-User p {
        display: inline-block;
        text-transform: uppercase;
        color: white;
        font-size: 18px;
        letter-spacing: 1.1px;
        padding-right: 20px; }
      .Homepage .SidebarFix .Top-bar .Topbar-User .User-img {
        display: inline-block;
        height: 42px;
        width: 42px;
        float: right;
        margin-top: -7px;
        overflow: hidden;
        border-radius: 50px;
        background-size: cover;
        background-position: center center; }
  .Homepage .SidebarFix .Content-entry {
    margin: 40px auto 0;
    padding: 0 60px 90px;
    max-width: 700px;
    background-color: white;
    min-height: 695px;
    position: relative; }
    .Homepage .SidebarFix .Content-entry .Content-Logo {
      text-align: center;
      padding: 50px; }
      .Homepage .SidebarFix .Content-entry .Content-Logo img {
        display: inline-block;
        max-width: 90px; }
    .Homepage .SidebarFix .Content-entry .Entry-contents .Entry-overview td {
      padding-right: 50px; }
    .Homepage .SidebarFix .Content-entry .Entry-contents .Entry-overview p {
      text-transform: uppercase;
      color: #36216A;
      font-size: 15px; }
    .Homepage .SidebarFix .Content-entry .Entry-contents .Entry-entries table {
      border-top: 1px solid #36216A;
      width: 100%;
      margin-top: 10px; }
      .Homepage .SidebarFix .Content-entry .Entry-contents .Entry-entries table tr p {
        text-transform: lowercase;
        color: #36216A;
        font-size: 13px; }
      .Homepage .SidebarFix .Content-entry .Entry-contents .Entry-entries table tr:first-of-type p {
        text-transform: uppercase;
        color: #36216A;
        font-size: 9px;
        padding: 10px 0 0;
        letter-spacing: 1.1px; }
      .Homepage .SidebarFix .Content-entry .Entry-contents .Entry-entries table tr:nth-of-type(2) td {
        padding-top: 10px; }
      .Homepage .SidebarFix .Content-entry .Entry-contents .Entry-entries table tr:last-of-type td {
        padding-bottom: 5px; }
      .Homepage .SidebarFix .Content-entry .Entry-contents .Entry-entries table td:nth-of-type(3) {
        text-align: right; }
    .Homepage .SidebarFix .Content-entry .Entry-contents .Entry-entries table.fitness td:nth-of-type(3) {
      text-align: left; }
    .Homepage .SidebarFix .Content-entry .Entry-contents .Entry-entries table.fitness td:nth-of-type(4) {
      text-align: right; }
    .Homepage .SidebarFix .Content-entry .Add-Button {
      width: 50px;
      height: 50px;
      border-radius: 50px;
      background-color: #00FF75;
      display: block;
      position: absolute;
      bottom: 20px;
      right: -25px;
      cursor: pointer;
      z-index: 90;
      text-align: center;
      box-shadow: 0px 10px 10px -7px rgba(0, 0, 0, 0.35); }
      .Homepage .SidebarFix .Content-entry .Add-Button p {
        display: inline-block;
        font-size: 40px;
        color: #36216A;
        margin: 0px;
        margin-top: -4px;
        font-weight: 200; }
    .Homepage .SidebarFix .Content-entry .Entry-emptyspace {
      height: 0px;
      -webkit-transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      -moz-transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      -o-transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }
    .Homepage .SidebarFix .Content-entry .Entry-emptyspace.open {
      height: 81px; }
    .Homepage .SidebarFix .Content-entry .Entry-make-new-entry {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 0 60px 20px;
      -webkit-transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      -moz-transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      -o-transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }
      .Homepage .SidebarFix .Content-entry .Entry-make-new-entry hr {
        border-color: #36216A;
        margin-bottom: 25px; }
      .Homepage .SidebarFix .Content-entry .Entry-make-new-entry p {
        font-size: 18px;
        color: #36216A;
        text-transform: uppercase;
        letter-spacing: 2px; }
    .Homepage .SidebarFix .Content-entry .Entry-make-new-entry.enlargeBotPad {
      padding-bottom: 101px; }
    .Homepage .SidebarFix .Content-entry .Entry-input-form {
      height: 0px;
      width: 100%;
      position: absolute;
      left: 0;
      bottom: 0px;
      z-index: 80;
      visibility: hidden;
      overflow: hidden;
      background-color: #FCFCFC;
      -webkit-transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      -moz-transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      -o-transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      transition: all 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955); }
    .Homepage .SidebarFix .Content-entry .Entry-input-form.open {
      visibility: visible;
      height: 81px; }

.Sidebar-wrap {
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2); }
  .Sidebar-wrap a, .Sidebar-wrap p,
  .Sidebar-wrap h1, .Sidebar-wrap h2, .Sidebar-wrap h3,
  .Sidebar-wrap h4, .Sidebar-wrap h5, .Sidebar-wrap h6 {
    color: #36216A; }
  .Sidebar-wrap hr {
    border: 0px solid white;
    background-color: #36216A;
    opacity: 0.2;
    height: 1px;
    margin: 13px 0; }

.Sidebar-wrap {
  width: 350px;
  background-color: #00C0FF;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 8;
  overflow: hidden; }
  .Sidebar-wrap .Circle-wrap {
    min-height: 275px;
    width: 100%;
    padding-top: 30px;
    background-color: white; }
    .Sidebar-wrap .Circle-wrap .Circle-aligncenter {
      max-width: 180px;
      margin: 0px auto 0px; }
      .Sidebar-wrap .Circle-wrap .Circle-aligncenter #circle {
        position: relative; }
      .Sidebar-wrap .Circle-wrap .Circle-aligncenter .Circle-goal {
        position: absolute;
        top: 0;
        left: 0;
        right: 0; }
        .Sidebar-wrap .Circle-wrap .Circle-aligncenter .Circle-goal p {
          text-align: center;
          font-size: 24px;
          font-weight: 600;
          text-transform: uppercase; }
          .Sidebar-wrap .Circle-wrap .Circle-aligncenter .Circle-goal p i {
            display: none; }
      .Sidebar-wrap .Circle-wrap .Circle-aligncenter .Circle-goal.top {
        top: 53px; }
      .Sidebar-wrap .Circle-wrap .Circle-aligncenter .Circle-goal.hr {
        top: 75px;
        text-align: center; }
        .Sidebar-wrap .Circle-wrap .Circle-aligncenter .Circle-goal.hr .hr-- {
          display: inline-block;
          width: 70px;
          height: 3px;
          background-color: #36216A; }
      .Sidebar-wrap .Circle-wrap .Circle-aligncenter .Circle-goal.bottom {
        top: 90px; }
    .Sidebar-wrap .Circle-wrap .Circle-progress-text {
      padding-bottom: 5px; }
      .Sidebar-wrap .Circle-wrap .Circle-progress-text h2 {
        font-size: 18px;
        text-align: center;
        text-transform: uppercase;
        letter-spacing: 1.1px;
        margin-bottom: 5px;
        margin-top: 15px; }
      .Sidebar-wrap .Circle-wrap .Circle-progress-text p, .Sidebar-wrap .Circle-wrap .Circle-progress-text span {
        text-align: center;
        font-size: 12px; }
  .Sidebar-wrap .Sidebar-goal-wrap {
    position: relative;
    z-index: 90;
    overflow: hidden;
    padding-bottom: 20px; }
    .Sidebar-wrap .Sidebar-goal-wrap .Sidebar-goal {
      background-color: #89E1FF;
      padding: 20px;
      color: #36216A;
      text-transform: uppercase;
      box-shadow: 0px 4px 10px -7px rgba(0, 0, 0, 0.35); }
      .Sidebar-wrap .Sidebar-goal-wrap .Sidebar-goal h2 {
        text-align: center;
        font-size: 18px;
        letter-spacing: 1.1px;
        margin: 0;
        color: #36216A; }
  .Sidebar-wrap .Sidebar-log-wrap {
    position: relative;
    z-index: 89;
    margin-top: -20px;
    background-color: #00C0FF; }
    .Sidebar-wrap .Sidebar-log-wrap .Sidebar-log {
      padding: 20px 30px 5px; }
      .Sidebar-wrap .Sidebar-log-wrap .Sidebar-log .Week-wrap h2 {
        text-align: center;
        font-size: 18px;
        letter-spacing: 1.1px;
        margin: 0;
        text-transform: uppercase; }
      .Sidebar-wrap .Sidebar-log-wrap .Sidebar-log .Week-wrap p {
        text-align: center;
        font-size: 12px;
        margin: 5px; }
      .Sidebar-wrap .Sidebar-log-wrap .Sidebar-log .Week-wrap .Week-overview {
        padding: 5px; }
      .Sidebar-wrap .Sidebar-log-wrap .Sidebar-log .Week-wrap .Week-count {
        position: relative; }
        .Sidebar-wrap .Sidebar-log-wrap .Sidebar-log .Week-wrap .Week-count .navigator {
          display: block;
          position: absolute;
          top: -5px;
          font-size: 35px;
          background-color: transparent;
          border: 0px solid white;
          color: #36216A; }
        .Sidebar-wrap .Sidebar-log-wrap .Sidebar-log .Week-wrap .Week-count .navigator.left {
          left: 0; }
        .Sidebar-wrap .Sidebar-log-wrap .Sidebar-log .Week-wrap .Week-count .navigator.right {
          right: 0; }
      .Sidebar-wrap .Sidebar-log-wrap .Sidebar-log .Week-wrap .Week-output table {
        width: 100%; }
        .Sidebar-wrap .Sidebar-log-wrap .Sidebar-log .Week-wrap .Week-output table .day {
          min-width: 140px; }
          .Sidebar-wrap .Sidebar-log-wrap .Sidebar-log .Week-wrap .Week-output table .day p {
            text-align: left; }
        .Sidebar-wrap .Sidebar-log-wrap .Sidebar-log .Week-wrap .Week-output table .exercise {
          min-width: 70px; }
          .Sidebar-wrap .Sidebar-log-wrap .Sidebar-log .Week-wrap .Week-output table .exercise p {
            text-align: right; }
        .Sidebar-wrap .Sidebar-log-wrap .Sidebar-log .Week-wrap .Week-output table .kcal {
          min-width: 70px; }
          .Sidebar-wrap .Sidebar-log-wrap .Sidebar-log .Week-wrap .Week-output table .kcal p {
            text-align: right; }
        .Sidebar-wrap .Sidebar-log-wrap .Sidebar-log .Week-wrap .Week-output table tr.negative p {
          color: #F92A08; }
        .Sidebar-wrap .Sidebar-log-wrap .Sidebar-log .Week-wrap .Week-output table tr.current-day p {
          font-weight: 600; }
        .Sidebar-wrap .Sidebar-log-wrap .Sidebar-log .Week-wrap .Week-output table tr.empty p {
          opacity: 0.4; }
      .Sidebar-wrap .Sidebar-log-wrap .Sidebar-log .Week-wrap .Week-output .Indicators {
        text-transform: uppercase; }
        .Sidebar-wrap .Sidebar-log-wrap .Sidebar-log .Week-wrap .Week-output .Indicators table {
          margin-bottom: 10px; }
          .Sidebar-wrap .Sidebar-log-wrap .Sidebar-log .Week-wrap .Week-output .Indicators table p {
            font-size: 11px; }
      .Sidebar-wrap .Sidebar-log-wrap .Sidebar-log .Week-wrap .Week-output .Week-average .left p {
        text-align: left; }
      .Sidebar-wrap .Sidebar-log-wrap .Sidebar-log .Week-wrap .Week-output .Week-average .right p {
        text-align: right; }
      .Sidebar-wrap .Sidebar-log-wrap .Sidebar-log .Week-wrap .Week-output .Week-average p {
        font-size: 15px;
        text-transform: uppercase; }

.UserSettings {
  visibility: hidden; }
  .UserSettings .Settings-bg {
    opacity: 0;
    top: 60px;
    bottom: 0px;
    left: 380px;
    right: 30px;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease; }

.UserSettings.show {
  visibility: visible; }
  .UserSettings.show .Settings-bg {
    opacity: 1;
    bottom: 30px;
    top: 30px; }

.Settings-bg {
  background-color: white;
  position: fixed;
  z-index: 200; }

/*# sourceMappingURL=main.css.map */
