
.Footer-wrap {
	position: relative;
	height: 400px;
	z-index: 5;
	margin-top: -150px;
	background-color: $font-col;
	
	
	.Footer-slogan {
		position: relative;
		z-index: 15;
		text-align: center;
		padding-top: 230px;

		p {
			color: white;
			font-size: 22px;
			padding-bottom: 15px;
		}

		a {
			display: inline-block;
			margin: 0;
			background-color: $green;
			border-radius: 100px;
			color: $font-col;
			text-decoration: none;
			line-height: 40px;
			text-align: center;
			text-transform: uppercase;
			padding: 5px 30px;
			font-size: 18px;
			outline: none;
			box-shadow: $box-shadow4;
			border: 3px solid $green;

			@include easing-mixin-1;

			&:hover {
				border-color: white;
				background-color: lighten($font-col,5%);
				color: white;
			}
		}
	}
}