
.Content-entry.greyBG {
	background-color: $grey-bg1;
}

.container.extra-pad {
	padding: 0 20px;
	position: relative;
	z-index: 10;
}


.circle-img {
	text-align: right;
	display: block;
	width: 100%;
	padding: 40px 0;
	img {
		display: inline-block;
		max-width: 200px;
	}
}

.circle-text {
	padding: 90px 40px 0;
}

p.strongtitle {
	font-weight: 700;
	font-size: 18px;
	text-transform: uppercase;
}

.team-title {
	text-align: center;
	margin-top: 40px;
}


.Team-member-wrap {
	background-color: white;
	padding: 25px 25px 20px;
	margin-top: 40px;
	min-height: 370px;
	box-shadow: $box-shadow4;

	.prof-img {
		margin: 30px auto 60px; 
		max-width: 150px; 
		min-height: 130px;
		img {
			 width: 150px;
		}
	}

	.memberName {
		font-size: 18px;
		text-transform: uppercase;
		margin: 0;
		margin-bottom: 5px;

	}
}


.Home-circle-wrap {
	padding: 70px 30px;
	display: inline-block;

	.Circle-aligncenter {
		max-width: 180px;
		margin: 0px auto 0px;

		#circle {
			position: relative;
			box-shadow: $box-shadow4;
			border-radius: 100px;
			height: 180px;
		}

		.Circle-goal {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			p {
				text-align: center;
				font-size: 24px;					
				text-transform: uppercase;
				i {
					display: none;
				}
			}
		}

		.Circle-goal.top {
			top: 55px;
		}

		.Circle-goal.hr {
			top: 77px;
			text-align: center;
			.hr-- {
				display: inline-block;
				width: 70px;
				height: 2px;
				background-color: $font-col;
			}
		}

		.Circle-goal.bottom {
			top: 92px;
		}
	}
}
