
// ------------------------------ //
//	-------  Navigation  -------  //


.Nav-wrap {
	min-height: 80px;
	background-color: $blue-1;
	padding-top: 20px;
	box-shadow: $box-shadow;
}

.Logo-wrap {
	text-align: left;
	display: inline-block;
	padding-top: 10px;

	.CC-img {
		display: inline-block;

		img {
			width: 40px;
			margin-top: -5px;
		}
	}

	.CC-text {
		display: inline-block;
		p {
			display: inline-block;
			color: white;
			text-transform: uppercase;
			font-size: 15px;
			padding-left: 10px;
			
		}
	}
}

.SIGNIN-button {
	text-align: right;
	display: inline-block;
	float: right;
	a {
		font-size: $FontSize-Text;
		display: inline-block;
		text-align: right;
		margin: 0;
		background-color: $blue-4;
		border-radius: 100px;
		color: #FFF;
		padding: 2px 30px;
		text-decoration: none;
		line-height: 40px;
		text-align: center;
		text-transform: uppercase;
			
		@include easing-mixin-2;

		// -webkit-box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.3);
		// -moz-box-shadow:    0 1px 3px 0 rgba(0, 0, 0, 0.3);
		// box-shadow:         0 1px 3px 0 rgba(0, 0, 0, 0.3);

		&:hover {
			background-color: white;
			color: $blue-1;
		}
	}
}


// -------------------------- //
//	-------  Header  -------  //


.Header-wrap {
	position: relative;
	z-index: 6;

	.Header-box {
		min-height: 400px;
		max-width: 370px;
		margin: 100px auto;
		padding: 50px;
		padding-bottom: 150px;
		background-color: white;
		position: relative;

		box-shadow: $box-shadow;

		p.strongtitle {
			font-weight: 700;
			font-size: 18px;
			text-transform: uppercase;
			
		}
		
		.button-wrap {
			position: absolute;
			bottom: 0px;
			left: 	0px;
			right: 	0px;
			height: 125px;
			background-color: $grey-bg2;
			text-align: center;
			padding-top: 25px;

			a {
				display: inline-block;
				margin: 0;
				background-color: $blue-4;
				border-radius: 100px;
				color: #FFF;
				text-decoration: none;
				line-height: 40px;
				text-align: center;
				text-transform: uppercase;
				padding: 2px 30px;
				font-size: $FontSize-Text;
				outline: none;
				@include easing-mixin-1;

				&:hover {
					background-color: $blue-4H;
				}
			}
			p {
				margin: 12px 0 0;
				color: $grey-font;
			}
		}
	}
}


.registerpage {
	.Nav-wrap {
		position: relative;
		z-index: 10;
	}
	.Header-wrap {
		position: absolute;
		z-index: 0;
		bottom: 0px;
		left: 	0px;
		right: 	0px;
		top: 	80px;
	}
	.SIGNIN-button {
		display: none;
	}
	.SIGNIN-button.login {
		display: none;
	}
	.fields {
		padding-top: 20px;
		.Input-item {
			position: relative;
			p {
				color: $font-col;
				font-size: $FontSize-Text;
				margin-top: 30px;
			}
			span {
				opacity: 0.3;
			}
			input,select {
				font-size: $FontSize-Text;
				background-color: $blue-5;
				width: 100%;
				color: $font-col;
				letter-spacing: 1.1px;
				border: 2px solid transparent;
				padding: 15px 20px;
				margin-bottom: 35px;
				position: relative;
			}
			img {
				max-width: 15px;
				position: absolute;
				top: 	16px;
				right: 	16px;
				visibility: hidden;
				opacity: 0;
				@include easing-mixin-1
			}
		}

	}

	.Header-box {
		padding-bottom: 110px;
		margin: 50px auto;
		.button-wrap {
			height: 105px;

			p, input {
				cursor: pointer;
				display: inline-block;
				margin: 0;
				background-color: $blue-4;
				border-radius: 100px;
				color: #FFF;
				text-decoration: none;
				line-height: 40px;
				text-align: center;
				text-transform: uppercase;
				padding: 5px 50px;
				font-size: $FontSize-Text;
				outline: none;
				border: 0px solid;
				@include easing-mixin-1;

				&:hover {
					background-color: $blue-4H;
				}
			}

			ul.dots {
				margin: 12px 0;
				padding: 0;
				@include easing-mixin-1;
				li {
					display: inline-block;
					background-color: #E2E2E2;
					width: 10px;
					height: 10px;
					border-radius: 100px;
					cursor: pointer;
				}
				.on {
					background-color: $blue-4;
				}
			}
		}
	}

	.hidden {
		display: none;
	}
	.show {
		display: block;
	}
}



.registerpage.login {
	.SIGNIN-button {
		display: none; 
	}

	.SIGNIN-button.login {
		display: block;
	}
}

.bg-image-fixed{
  background-image: url("../img/Header-bg.jpg");
  background-size: cover;
  background-position: center center;
}


.Header-wrap.login .Header-box {
	padding-bottom: 120px;
	margin: 50px auto;
}
.Header-wrap.login .Header-box {
	.Input-item input {
		margin-bottom: 15px;
	}
	.button-wrap {
		height: 105px;
	}

}




.invalid {
	.register-form {
		border: 2px solid $red !important;
	}
	img {
		visibility: visible !important;
		opacity: 1 !important;
	}
}
