

@media all and (max-width: 991px) {
	.text-align-right {
		text-align: center;
	}

	.circle-text {
		padding: 20px 40px 40px;
		.strongtitle {
			text-align: center;
		}
	}

	.Home-circle-wrap {
		padding-bottom: 40px;
	}

	.Team-member-wrap {
		max-width: 400px;
		margin: 40px auto 0;
		.memberName {
			text-align: center;
		}
	}
}




@media all and (max-width: 450px) {
	.circle-text {
		padding: 10px 0 40px;
	}

	.Header-wrap .Header-box {
		min-height: 360px;
		padding: 30px;
		padding-bottom: 110px;
	}

}

@media all and (max-width: 370px) {
	.CC-text {
		display: none !important;
	}
}