
.Sidebar-wrap {
	box-shadow: $box-shadow2;
	a,p,
	h1,h2,h3,
	h4,h5,h6 {
		color: $font-col;
	}

	hr {
		border: 0px solid white;
		background-color: $font-col;
		opacity: 0.2;
		height: 1px;
		margin: 13px 0;
	}
}

.Sidebar-wrap {
	width: 450px;
	background-color: $blue-3;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 8;
	overflow: hidden;


	.Circle-wrap {
		min-height: 275px;
		width: 100%;
		padding-top: 30px;
		padding: 30px 70px 0px;
		background-color: white;
		box-shadow: $box-shadow2;
		position: relative;
		z-index: 90;

		.Circle-aligncenter {
			max-width: 180px;
			margin: 0px auto 0px;

			#circle {
				position: relative;
				box-shadow: $box-shadow4;
				border-radius: 100px;
				height: 180px;
			}

			.Circle-goal {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				p {
					text-align: center;
					font-size: 24px;					
					text-transform: uppercase;
					i {
						display: none;
					}
				}
			}

			.Circle-goal.top {
				top: 55px;
			}

			.Circle-goal.hr {
				top: 77px;
				text-align: center;
				.hr-- {
					display: inline-block;
					width: 70px;
					height: 2px;
					background-color: $font-col;
				}
			}

			.Circle-goal.bottom {
				top: 92px;
			}
		}

		.Circle-progress-text {
			padding-bottom: 5px;
			h2 {
				font-size: $FontSize-Titels;
				text-align: center;
				text-transform: uppercase;
				letter-spacing: $letter-sp-1;
				margin-bottom: 5px;
				margin-top: 25px;
			}
			p, span {
				text-align: center;
				font-size: $FontSize-Subtext;
			}
			
		}
	}// Circle-wrap

	.Sidebar-goal-wrap {
		position: relative;
		z-index: 90;
		padding-bottom: 10px;

		.Sidebar-goal {
			background-color: $blue-1;
			cursor: pointer;
			padding: 20px;
			border-radius: 100px;
			color: white;
			text-transform: uppercase;
			box-shadow: $box-shadow;
			margin: 5px 0 20px;
			display: block;	
			font-weight: 400;
			
			text-align: center;
			font-size: $FontSize-Titels;
			letter-spacing: $letter-sp-1;
			
		}
	}// Sidebar goal wrap

	.Sidebar-log-wrap {
		position: relative;
		z-index: 89;
		background-color: $blue-3;
		
		.Sidebar-log {
			.Week-wrap {
				h2 {
					text-align: center;
					font-size: $FontSize-Titels;
					letter-spacing: $letter-sp-1;
					margin: 0;
					text-transform: uppercase;
				}
				p {
					text-align: center;
					font-size: $FontSize-Subtext;
					margin: 5px;
				}

				.Week-overview {
					padding: 5px;
				}

				.Week-count {
					background-color: $blue-2;
					padding: 15px 70px;
					
					.week-count-rel {
						position: relative;
					}

					.navigator {
						display: block;
						position: absolute;
						top: -5px;
						font-size: 35px;
						background-color: transparent;
						border: 0px solid white;
						color: $font-col;
					}
					.navigator.left {
						left: 0;
					}
					.navigator.right {
						right: 0;
					}
				}

				.Week-output {
					background-color: $blue-1;
					table {
						width: 100%;
						
						.day { 
							min-width: 140px;
							p {
								text-align: left;
							}
						}
						.exercise {
							min-width: 70px;
							p {
								text-align: right;
							}
						}
						.kcal {
							min-width: 70px;
							p {
								text-align: right;
							}
						}
						
						tr.negative p {
							color: $red;
						}
						tr.current-day p {
							font-weight: 600;
						}
						tr.empty p {
							opacity: 0.4;
						}
					}
					.Indicators {
						text-transform: uppercase;
						padding: 20px 70px 0px;
						table {
							margin-bottom: 10px;
							p {
								font-size: $FontSize-SubInfo;
							}
						}
					}

					.Week-content {
						padding: 0px 70px 20px;
					}
					
					.Week-average {
						background-color: $blue-3;
						padding: 15px 70px;
						.left p {
							text-align: left;
						}
						.right p {
							text-align: right;
						}
						p {
							
							font-size: $FontSize-Info;
							text-transform: uppercase;
							font-weight: 600;
						}
					}
				}				
			}// week wrap
		}
	}// Sidebar log wrap
}