
.Homepage .SidebarFix {
	padding-left: 350px;

	.Content-wrap {
		padding: 30px 30px 0 30px;

	}
	.Top-bar {
		display: block;
		height: 100px;
		padding: 40px;
		position: relative;

		.Topbar-Logo {
			display: block;
			width: 280px;
			position: absolute;
			top: 40px;
			left: 40px;

			img {
				display: block;
				height: 25px;
				float: left;
			}

			p {
				display: inline-block;
				text-transform: uppercase;
				color: white;
				font-size: 18px;
				letter-spacing: 2px;
				padding-left: 20px;
			}
		}

		.Topbar-User {
			display: block;
			width: 100%;
			float: right;
			text-align: right;
			padding-left: 270px;

			p {
				display: inline-block;
				text-transform: uppercase;
				color: white;
				font-size: 18px;
				letter-spacing: 2px;
				padding-right: 20px;
			}

			.User-img {
				display: inline-block;
				height: 42px;
				width: 42px;
				float: right;
				margin-top: -7px;
				overflow: hidden;
				border-radius: 50px;
				background-image: url('../img/pikachu-userprofile.png');
				background-size: cover; 
				background-position: center center;

			}
		}
	}

	.Content-entry {
		margin: 40px auto 0;
		padding: 0 60px;
		max-width: 700px;
		background-color: white;
		min-height: 695px;

		.Content-Logo {
			text-align: center;
			padding: 50px;
			img {
				display: inline-block;
				max-width: 90px;
			}
		}

		.Entry-contents {
			.Entry-overview {
				td {
					padding-right: 50px;
				}
				p {
					text-transform: uppercase;
					color: $purple;
					font-size: 15px;
				}
			}

			.Entry-entries {
				table {
					border-top: 1px solid $purple;
					width: 100%;
					margin-top: 10px;
				
					tr {		
						p {
							text-transform: lowercase;
							color: $purple;
							font-size: 13px;
						}	
					}
					
					tr:first-of-type {
						p {
							text-transform: uppercase;
							color: $purple;
							font-size: 9px;
							padding: 10px 0 0;
							letter-spacing: 1px;
						}
					}
					
					tr:nth-of-type(2) td {
						padding-top: 10px;
					}

					tr:last-of-type td {
						padding-bottom: 5px;
					}

					td:nth-of-type(3) {
						text-align: right;
					}
				}// table

				table.fitness {
					td:nth-of-type(3) {
						text-align: left;
					}
					td:nth-of-type(4) {
						text-align: right;
					}
				}
				
			}// entries

			
		}
	}
}
