
.Homepage .SidebarFix {
	padding-left: 350px;

	.Content-wrap {
		padding: 30px 30px 0 30px;

	}
	.Top-bar {
		display: block;
		height: 100px;
		padding: 40px;
		position: relative;

		.Topbar-Logo {
			display: block;
			width: 280px;
			position: absolute;
			top: 40px;
			left: 40px;

			img {
				display: block;
				height: 40px;
				margin-top: -5px;
				float: left;
			}

			p {
				display: inline-block;
				text-transform: uppercase;
				color: white;
				font-size: 18px;
				letter-spacing: 2px;
				padding-left: 20px;
			}
		}

		.Topbar-User {
			display: block;
			width: 100%;
			float: right;
			text-align: right;
			padding-left: 270px;

			p {
				display: inline-block;
				text-transform: uppercase;
				color: white;
				font-size: 18px;
				letter-spacing: 2px;
				padding-right: 20px;
			}

			.User-img {
				display: inline-block;
				height: 50px;
				width: 50px;
				float: right;
				margin-top: -10px;
				overflow: hidden;
				border-radius: 50px;
				background-image: url('../img/pikachu-userprofile.png');
				background-size: cover; 
				background-position: center center;

			}
		}
	}

	.Content-entry {
		margin: 40px auto 0;
		max-width: 700px;
		background-color: white;
		min-height: 500px;

		.Content-Logo {
			text-align: center;
			padding: 30px;
			img {
				display: inline-block;
			}
		}
	}
}
