/**************************************************

	In this file we place all the Variables ;)

**************************************************/

// Fonts
$font: 			  'Open Sans', sans-serif;
//------------------------------------

// Font sizes
$FontSize-Counter:  22px;
$FontSize-Titels:   18px;
$FontSize-Info:     16px;
$FontSize-Subtext:  12px;
$FontSize-SubInfo:   8px;
//-----------------------

// Letter-spacing
$letter-sp-1: 1.1px;
//------------------

// Overall Colors
$black: 		#4a4a4c;
$blue-1: 		#0085B4;// dark-bg-blue
$blue-2:		#00C0FF;// sidebar-log-blue
$blue-3:    #89E1FF;// sidebar-goal-blue
$purple:    #36216A;// color-from-logo
$red:       #F92A08;
$green:     #00FF75;

// Colors assigned to specific objects
$grey-bg1:		#EEEEEE;
$grey-bg2:    #F5F5F5;
//--------------------

// Box-shadows
$box-shadow:    0px 4px 10px -7px rgba(0, 0, 0, 0.35);
$box-shadow2:   2px 0px 5px rgba(0, 0, 0, 0.2);
//----------------------


// Settings
a,p,
h1,h2,h3,
h4,h5,h6 {
	color: $black;
	font-family: $font;
  letter-spacing: $letter-sp-1;
}

a {
	text-decoration: none !important;
}

html {
  background-color: $blue-1;
}




//--------------------
// 	  page-wrap 
//--------------------
html, body {
  height: 100%;
}
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: 0px; 
  background-color: $blue-1;
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after { 
  /* .push must be the same height as footer */
  height: 0px; 
}
.site-footer {
}

//--------------------


