
.UserSettings {
	visibility: hidden;

	.Settings-bg {
		opacity: 0;
		top: 	50px;
		bottom: 50px;
		left: 	50px;
		right: 	50px;
		overflow: hidden;
		
		@include easing-mixin-1;
	}
}

.UserSettings.show {
	visibility: visible;
	.Settings-bg {
		opacity: 1;
		top: 	0px;
		bottom: 0px;
		left: 	0px;
		right: 	0px;

		.UserSidebar-wrap {
			top: 	0px;
			bottom: 0px;
			left: 	0px;
		}
		.UserLogout-wrap {
			bottom: 0;
			left: 0;
		}
	}
}

.Settings-bg {
	background-color: white;
	position: fixed;
	z-index: 200;
}

.UserSidebar-wrap {
	background-color: $blue-1;
	position: fixed;
	z-index: 210;
	top: 	50px;
	bottom: 50px;
	left: 	50px;
	width: 450px;

	@include easing-mixin-1;

	.UserSidebar-logo {
		img {
			display: block;
			max-width: 70px;
			margin: 70px auto 20px;
		}

		p {
			font-size: $FontSize-Counter;
			color: white;
			text-transform: uppercase;
			text-align: center;
			font-weight: 200;
		}
	}

	.UserSidebar-button.goal {
		margin-top: 100px;
	}

	.UserSidebar-button p {
		background-color: $blue-4;
		padding: 15px;
		cursor: pointer;
		color: white;
		font-weight: 200;
		text-transform: uppercase;
		border-radius: 100px;
		text-align: center;
		box-shadow: $box-shadow4;
		margin: 15px 80px;
		display: block;	
		font-size: $FontSize-Titels;
		border-width: 3px;
		border-style: solid;
		border-color: $blue-4;
		
		@include easing-mixin-1;
	}


	.UserLogout-wrap {
		background-color: $blue-3;
		position: fixed;
		bottom: 50px;
		left: 50px;
		width: 450px;
		padding: 20px;
		@include easing-mixin-1;
	}
}





.User-content {
	width: 100%;
	height: 100%;
	padding-left: 450px;
	position: relative;
	z-index: 200;

	.UserClose-button {
		display: block;
		width:  200px;
		height: 60px;
		position: absolute;
		top: 60px;
		right: 50px;
		padding: 10px;
		cursor: pointer;

		@include easing-mixin-1;

		p {
			font-size: $FontSize-Titels;
			display: inline-block;
			text-transform: uppercase;
			padding-right: 10px;
			margin: 0;
		}
		img {
			display: inline-block;
			max-width: 15px;
			margin-top: -5px;
		}

		&:hover {
			opacity: 0.6;
		}
	}
}






// ------------------------------------
// For the Goal & Setting screen hovers

.UserSettings.show.Settings-active {
	.UserSidebar-button.settings p {
		border-color: white;
		background-color: $blue-1;
	}
	
	.UserSidebar-button.goal p:hover {
		background-color: #0097B4;
		border-color: #0097B4;
	}
}

.UserSettings.show.Goal-active {
	.UserSidebar-button.goal p {
		border-color: white;
		background-color: $blue-1;
	}

	.UserSidebar-button.settings p:hover {
		background-color: #0097B4;
		border-color: #0097B4;
	}
}

